* {
    font-family: 'Edu NSW ACT Cursive', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: brown;
    width: 100%;
    height: 10%;
    box-shadow: 0px 8px 30px 2px #0f010156;

}

header img {
    display: block;
    margin: auto;
}

header a {
    color: #ffff;
    text-decoration: none;
}

header img {
    width: 14%;
}


.titulo {
    font-size: 2.5em;
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
}

.margem {
    margin-left: 6%;
    margin-right: 6%;
}

.parag {
    font-size: 1.3em;


}

.banner {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    height: 50vh;


}

.banner img {
    width: 88%;
    border-radius: 1rem;
    object-fit: cover;
    box-shadow: 10px 10px 20px 2px #0f010127;
}

.blocos {
    margin-top: 3%;
    display: flex;
    gap: 4%;
    justify-content: center;
}

.testamento {
    background-color: #66D1E6;
    border-radius: 2rem;
    padding: 3%;
    width: 36%;
    transition: 0.5s;
    text-align: center;
    box-shadow: 10px 5px 20px 2px #0f01012a;

}

.testamento:hover {
    transform: scale(1.01);
}

.alinhaCanon {
    display: flex;
    justify-content: center;

}

.canon {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
    justify-content: center;
    background-color: #92e08b;
    border-radius: 2rem;
    padding: 3%;
    width: 82.5%;
    transition: 0.5s;
    box-shadow: 10px 5px 20px 2px #0f01012a;
}

.canon:hover {
    transform: scale(1.01);

}

footer img {
    width: 10%;
}

footer {
    margin-top: 7%;
    color: #ffff;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: brown;
}